<div class="row bg-light p-3">
  <div class="col-md-12">
    <form class="text-start">
      <div class="form-group mb-3">
        <label for="postTitle" class="mb-1">Title</label>
        <input
          type="text"
          class="form-control"
          name="postTitle"
          id="post-title"
          aria-describedby="helpId"
          placeholder="Enter new post title"
        />
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
      <div class="form-group">
        <label for="postDescription" class="mb-1">Description</label>
        <textarea
          class="form-control mb-3"
          name="postDescription"
          id="post-description"
          rows="2"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
  </div>
</div>
