<div class="row">
  <div class="col-md-12">
    <div class="row">
      <h1 class="display-4 p-5 alert alert-success mx-0">Posts</h1>
    </div>
    <div class="row w-75 mx-auto">
      <button
        type="button"
        name="addNewPost"
        id="add-post"
        class="btn btn-primary btn-block mb-2"
        [routerLink]="['posts/add']"
        (click)="showAddPostForm = !showAddPostForm"
      >
        + New Post
      </button>
    </div>
    <div class="row w-75 mx-auto" *ngIf="showAddPostForm || showEditPostForm">
      <router-outlet></router-outlet>
    </div>
    <!-- <app-add-post></app-add-post> -->
    <hr />
    <div class="row">
      <table
        class="table table-striped table-responsive"
        *ngIf="listOfPosts | async as postsData"
      >
        <thead>
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of postsData" class="align-middle">
            <th scope="row">{{ post.id }}</th>
            <td>{{ post.title }}</td>
            <td>{{ post.description }}</td>
            <td>
              <button
                type="button"
                class="btn btn-warning m-1"
                [routerLink]="['edit', post.id]"
                (click)="showEditPostForm = true"
              >
                Update
              </button>
              <button type="button" class="btn btn-danger m-1">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
